@import "./variables";

//Global Styling

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-size: 4rem;
  max-width: 40rem;
  margin-top: 8rem;
  border: 2px solid white;
  padding: 2rem 5rem 2rem 3rem;
}

h2 {
  font-size: 3rem;
}

li,
p {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  color: $veryDarkGray;
  line-height: 1.5rem;
}

li {
  list-style: none;
}

button {
  padding: 0.8rem 2.5rem;
  outline: none;
  background: transparent;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: bolder;
  border: 1px solid black;
}

.spacing {
  // width: 70%;
  max-width: 1100px;
  margin: auto;
}

//Header

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 65vh;
}

nav {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  display: flex;
  justify-content: space-evenly;
  min-width: 30rem;
}

li {
  color: $white;
}

// 1st Section

#interactive-section {
  position: relative;
  min-height: 50vh;
}

.image-container {
  margin-top: 10rem;
}

.description-container {
  position: absolute;
  background-color: $white;
  max-width: 35rem;
  padding: 5rem 0rem 0rem 5rem;
  right: 0;
  bottom: 0;

  h2 {
    padding-bottom: 2rem;
  }
}

// Creation section

#creation-section {
  min-height: 100vh;
}

.top-container {
  margin-top: 10rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  grid-gap: 2rem;
}

.card {
  img {
    width: 100%;
  }
}
